<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!--Responsive-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<!--Responsive-->

	<title>Administrar ventas</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  	<link rel="stylesheet" type="text/css" href="../css/simple-sidebar.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<!--Boots-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>
	<!--Header -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
      	<button class="btn btn-primary" id="menu-toggle">Menu</button>
  		<a class="navbar-brand" href="../index.html">Turismo Oriental</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		</button>
	  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    	<ul class="navbar-nav mr-auto"></ul>
	    	<a class="btn btn-outline-primary" href="#">Sign up</a>
	  	</div>
	</nav>
	<!--fin Header -->

	<div class="d-flex" id="wrapper">
	    <!-- Sidebar -->
	    <div class="bg-light border-right " id="sidebar-wrapper">
	      <div class="list-group list-group-flush">
	        <a href="admin_rutas.html" class="list-group-item list-group-item-action bg-light">Frecuencias y rutas</a>
	        <a href="venta_boletos.html" class="list-group-item list-group-item-action bg-light">Boletos</a>
	        <a href="admin_ventas.html" class="list-group-item list-group-item-action bg-dark active">Ventas</a>
	        <a href="admin_conductor.html" class="list-group-item list-group-item-action bg-light">Conductores</a>
	        <a href="admin_autobus.html" class="list-group-item list-group-item-action bg-light">Autobuses</a>
	      </div>
	    </div>
	    <!-- /#sidebar-wrapper -->
	    <div id="page-content-wrapper">
	      	<nav class="navbar navbar-expand-lg navbar-light ">
		  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
			    	<ul class="navbar-nav">
			      	<li class="nav-item dropdown border border-info rounded">
			       	 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Reportes
			        </a>
			        <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
			          <a class="dropdown-item" href="#">Diario</a>
			          <a class="dropdown-item" href="#">Mensual</a>
			        </div>
			      </li>
			      <li class="nav-item dropdown border border-info rounded">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Consultar por
			        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
			          <a class="dropdown-item btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal" data-whatever="Autobus">Autobus</a>
			          <a class="dropdown-item btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal" data-whatever="Conductor">Conductor</a>
			          
			        </div>
			      </li>
			      <li class="nav-item border border-info rounded">
			        <a class="nav-link btn" type="button" data-toggle="modal" data-target="#exampleModal" data-whatever="Cliente">Clientes</a>
			      </li>
			    </ul>
				</div>
			</nav>
	      <!--Contenedor -->
	      <div class="container-fluid card-deck mb-3 ">
        	<div class="card mb-4">
          		<div class="card-header">
            		<h4 class="my-0 font-weight-normal">Todas las ventas</h4>
          		</div>
          		<div class="card-body">
          			<!--Tabla de rutas-->
					<div class="table-responsive">
			            <table class="table table-striped table-sm">
			              	<thead>
				                <tr>
				                  <th>Hora</th>
				                  <th>Origen</th>
				                  <th>Destino</th>
				                  <th>Autobus</th>
				                  <th>Conductor</th>
				                  <th>Pasajeros</th>
				                  <th>Total</th>
				                </tr>
			              	</thead>
				            <tbody>
				                <tr>
				                  <td>11:45</td>
				                  <td>Cuenca</td>
				                  <td>Machala</td>
				                  <td>AAV - 1578</td>
				                  <td>Juan Perez</td>
				                  <td>34</td>
				                  <td>$ 272</td>
				                  
				                </tr>
				                <tr>
				                  <td>12:25</td>
				                  <td>Cuenca</td>
				                  <td>Machala</td>
				                  <td>AAV - 0078</td>
				                  <td>Luis Perez</td>
				                  <td>30</td>
				                  <td>$ 240</td>
				                </tr>
			              	</tbody>
			            </table>
			        </div>
          			<!--Fin tabla de rutas-->
          		</div>
	      	</div>
	      </div>
	    </div>
	</div>

	<!--modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        		<h5 class="modal-title" id="exampleModalLabel">New message</h5>
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
         			 <span aria-hidden="true">&times;</span>
       			</button>
     		 </div>
			<div class="modal-body">
		        <form>
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Recipient:</label>
		            <input type="text" class="form-control" id="recipient-name">
		          </div>
		          <div class="modal-footer">
	        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        	<button type="submit" class="btn btn-primary">Consultar</button>
	      	</div>
		        </form>
	      	</div>
	      	
	    </div>
  	</div>
</div>

  <!-- /#wrapper -->
  <!-- Menu Toggle Script -->
  
  <script type="text/javascript" src="../js/utils.js"></script>
  <script type="text/javascript" src="../js/modal_ventas.js"></script>
</body>
</html>