<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!--Responsive-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<!--Responsive-->

	<title>Administrar conductores</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  	<link rel="stylesheet" type="text/css" href="../css/simple-sidebar.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<!--Boots-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>
	<!--Header -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
      	<button class="btn btn-primary" id="menu-toggle">Menu</button>
  		<a class="navbar-brand" href="../index.html">Turismo Oriental</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		</button>
	  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    	<ul class="navbar-nav mr-auto"></ul>
	    	<a class="btn btn-outline-primary" href="#">Sign up</a>
	  	</div>
	</nav>
	<!--fin Header -->

	<div class="d-flex" id="wrapper">
	    <!-- Sidebar -->
	    <div class="bg-light border-right " id="sidebar-wrapper">
	      <div class="list-group list-group-flush">
	        <a href="admin_rutas.html" class="list-group-item list-group-item-action bg-light">Frecuencias y rutas</a>
	        <a href="venta_boletos.html" class="list-group-item list-group-item-action bg-light">Boletos</a>
	        <a href="admin_ventas.html" class="list-group-item list-group-item-action bg-light">Ventas</a>
	        <a href="admin_conductor.html" class="list-group-item list-group-item-action bg-light">Conductores</a>
	        <a href="admin_autobus.html" class="list-group-item list-group-item-action bg-light">Autobuses</a>
	      </div>
	    </div>
	    <!-- /#sidebar-wrapper -->
	    <div id="page-content-wrapper">
	      
	      <!--Contenedor -->
	      <div class="container-fluid card-deck mb-3 ">
        	
        	<div class="card mb-4">
          		<div class="card-header">
            		<h4 class="my-0 font-weight-normal">Todas los choferes</h4>
          		</div>
          		<div class="card-body">
          			
          		</div>
          		<div class="card mb-4 ">
		          	<div class="card-body">
		          		<div class="row etq">
							<div class="col-md-3 mb-3">
	            				<button class="btn btn-primary btn-block" type="submit">Agregar</button>
		              		</div>
		              		<div class="col-md-3 mb-3">
	            				<button class="btn btn-primary btn-block" type="submit">Guardar cambios</button>
		              		</div>
		              		<div class="col-md-3 mb-3"></div>
		              		<div class="col-md-3 mb-3">
	            				<button class="btn btn-primary btn-block" type="submit">Remover rutas marcadas</button>
		              		</div>
			            </div>
		          	</div>
        		</div>
	      	</div>
	      </div>
	    </div>
	</div>
  <!-- /#wrapper -->
	

  <!-- Menu Toggle Script -->
  
  <script type="text/javascript" src="../js/utils.js"></script>
</body>
</html>