/* Botones */

.boton-coop {
    text-decoration: none;
    padding: 10px 20px;
    background: #007df4;
    color: white;
    display: inline-block;
    position: absolute;
}

.boton-coop:hover {
    text-decoration: none;
    background-color: #333333;
    color: white;
}

/* Tabla */
/*
.tabla-coop {
    border: 0.3px solid #007df4;
}
*/

/* Alerta*/
.alerta_busqueda {
    /*text-align: center;*/
    max-height: 50px;
}

/* Estrellas*/

input[type="radio"] {
    display: none;
}

label {
    color: grey;
}

.clasificacion {
    /*position: absolute;*/
    font-size: 25px;
    direction: rtl;
    /*unicode-bidi: bidi-override;*/
}

label:hover, label:hover~label {
    color: orange;
}

input[type="radio"]:checked~label {
    color: orange;
}

/*Elementos de la fila de la Tabla*/
.align-right{
    display: inline-block;
}
